@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* Body structure */
body {
    height: 90%;
    text-align: center;
    font-family: el messiri, Arial;
    background: linear-gradient(
    blue,
    red
    );
  }
  /* Header and Title */
header {
    font-size: 20px;
    color: #f4f7f8;
    margin: 25px;
    text-align: center;
    top: 0;
    z-index: 2;
    letter-spacing: 1px;
  }
  header > h2 {
    margin-bottom: 20px;
  }
  /* Game area */
.game-area {
    height: 85vh;
    width: 99vw;
    color: #f4f7f8;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  /* Scores */
.score {
    top: 155px;
    width: 90vw;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
  }
  .player-count, .computer-count {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
  } 
  /* Pick your move */
.move {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    letter-spacing: 1px;
  }
  